<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Table</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<form action="/saveEmployee" method="POST">
  <div class="form-group">
    <label>Full Name</label>
    <input name="form_full_name" class="form-control" placeholder="Full Name">
  </div>

  <div class="form-group">
    <label>KRA PIN</label>
    <input name="form_kra_pin_number" class="form-control" placeholder="KRA PIN">
  </div>

  <div class="form-group">
    <label>Department</label>
    <input name="form_department" class="form-control" placeholder="Department">
  </div>

  <div class="form-group">
    <label>Position</label>
    <input name="form_position" class="form-control" placeholder="Position">
  </div>

   <div class="form-group">
    <label>Basic Salary</label>
    <input name="form_basic_salary" class="form-control" placeholder="Basic Salary">
  </div>

   <div class="form-group">
    <label>House Allowance </label>
    <input name="form_house_allowance" class="form-control" placeholder="House Allowance">
  </div>

  <button type="submit" class="btn btn-primary">Add Employee</button>

</form>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>